.g-layout__container
  +size(100vw, 100vh)
  display: flex
  justify-content: center
  align-items: center
  background-color: $white

.g-layout__content
  +size(100%, 100vh)
  max-width: 600px
  overflow: auto
  border: solid 1px black
