.p-account
  +size(100%, 100vh)
  position: relative
  padding: rem(40px)
  display: flex
  flex-direction: column
  justify-content: space-between
  border: solid rem(10px) $purple
  background-color: $orange

  &__shape
    +absolute(auto, 0, 0, 0, 0)
    +size(100%, auto)

  &__title
    text-align: center
    color: $white
    font-family: $montserrat

  &__item
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    margin: 0 rem(10px)
    z-index: 1

  &__avatar
    +size(rem(120px))
    margin-bottom: rem(10px)

  &__name
    color: $white
    font-size: rem(20px)
    font-family: $montserrat
    font-weight: 600