.p-step-three

  &__poda
    +size(80%, auto)
    +absolute(rem(20px), 50%, 0)
    transform: translateX(-50%)

  &__title
    color: $white
    font-family: $londrina
    font-size: rem(24px)
    letter-spacing: rem(2px)
    padding: 0 rem(30px)
    text-align: center

  &__mouth
    +size(rem(100px), auto)
    +absolute(66%, 50%, 1)
    transform: translateX(-50%)

  &__container-buttons
    padding: rem(20px)
    display: flex
    justify-content: space-between
    align-items: center
    +absolute(auto, 0, 1, 0, 0)

  &__button
    +size(rem(45px))

  &__overlay
    +absolute(0,0,2)
    +size(100%)
    text-align: center
    padding: rem(40px) rem(60px)

    &:before
      content: ""
      +absolute(-100%, -100%)
      +size(200vw, 200vh)
      background-color: rgba(black, 0.5)

    p
      position: relative
      z-index: 1

  &__container-food
    +size(100%, 90%)
    +absolute(0, 0, 2, 0, 0)

  &__food
    transition: opacity 0.25s ease-in-out

    &:nth-child(1)
      +absolute(60%, 15%)

    &:nth-child(2)
      +absolute(65%, 50%)

    &:nth-child(3)
      +absolute(80%, 10%)

    &:nth-child(4)
      +absolute(85%, 60%)

    &--inactive
      opacity: 0.5

  &__select
    +absolute(0, 0, 3)
    +size(100%)
    padding: rem(40px)
    flex-direction: column
    background-color: $green
    border-radius: rem(5px)
    display: none

    &--active
      display: flex

  &__container-select
    flex-grow: 1
    width: 100%
    margin-top: rem(20px)
    margin-bottom: rem(20px)

  &__select-content
    position: relative

  &__select-item
    +size(rem(110px))

    &:nth-child(1)
      +absolute(25%, 10%)

    &:nth-child(2)
      +absolute(25%, 55%)

    &:nth-child(3)
      +absolute(50%, 40%)

    &:nth-child(4)
      +absolute(65%, 15%)

    &:nth-child(5)
      +absolute(70%, 60%)

  &__other
    +size(100%, auto)
    padding: rem(20px) 0
    text-align: right
    font-family: $londrina
    color: $white
    font-size: rem(16px)
    letter-spacing: rem(2px)
